<div class="passwordBox animated fadeInDown">
    <div class="row">

        <div class="col-md-12">
            <div class="ibox-content">

                <h2 class="font-bold">Восстановление пароля</h2>

                <p>
                    Введите ваш email.
                </p>

                <div class="row">
                    <div class="col-lg-12">
                        <form class="m-t" role="form" ng-submit="doSubmit()">

                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email address" required="">
                            </div>

                            <button type="submit" class="btn btn-primary block full-width m-b">Отправить новый пароль</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            Copyright Plany.me
        </div>
        <div class="col-md-6 text-right">
            <small>© 2016</small>
        </div>
    </div>
</div>