<div class="middle-box text-center loginscreen   animated fadeInDown">
    <div>
        <div>

            <h1 class="logo-name">PT</h1>

        </div>
        <h3>Регистрация</h3>
        <p>Зарегистрируйтесь, чтобы увидеть в действии.</p>
        <form class="m-t" role="form" ng-submit="doSubmit()">
            
            <div class="form-group">
                <input type="email" ng-model="email" class="form-control" placeholder="Email" required="">
            </div>
            <div class="form-group">
                <input type="password" ng-model="password" class="form-control" placeholder="Password" required="">
            </div>
            <div class="form-group">
                <input type="password" ng-model="passwordRepeat" class="form-control" placeholder="Repeat password" required="">
            </div>
            <br/>
            <div ng-bind="err" class="error"></div>
            <br/>
            <button type="submit" class="btn btn-primary block full-width m-b">Зарегистрироваться</button>

            <p class="text-muted text-center"><small>Уже зарегистрированы?</small></p>
            <a class="btn btn-sm btn-white btn-block" ui-sref="login">Вход</a>
        </form>
        <p class="m-t"> <small>PsychoTests &copy; 2016</small> </p>
    </div>
</div>
